@font-face {
  font-family: "iconfont"; /* Project id 4385657 */
  src: url('iconfont.woff2?t=1703324172460') format('woff2'),
       url('iconfont.woff?t=1703324172460') format('woff'),
       url('iconfont.ttf?t=1703324172460') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wangyuanjing:before {
  content: "\e73b";
}

.icon-huiduceshi:before {
  content: "\e686";
}

.icon-a-5:before {
  content: "\e688";
}

